body {
    background-image: url("https://cdn.pixabay.com/photo/2015/01/17/13/52/gem-602252_960_720.jpg");
    width: 100%;
    height: auto;
    position: relative;
    z-index: 1;
    color:white;font-family: 'Coiny', cursive;
    font-size: auto;
}

#header {
    padding:2rem;
    background: #06156b65;
    font-size: 2.5rem;
    text-align: center;
    color: lightblue;
}

#instructions {
    clear: both;
    background:rgba(116, 54, 197, 0.795);
    padding: 2%;
    margin: 1.5%;
    display: flex;
    float: left;
}

#crystals {
    background: #6f069975;
    padding: 1%;
    margin: 1%;
    box-align: center;
}

#counterspace {
    background: rgb(90, 2, 90);
    padding: 1%;
    margin: 1%;
    color: white;
    height: auto;
    width: auto;
    text-align: left;
    position: relative; 
}

#randomScore {
    background: palevioletred;
    padding: 1%;
    margin: 1%;
    color: black;
    height: auto;
    width: auto;
    text-align: left;
}
 #win-lose {
     font-size: 3.5rem;
     color: black;
     float: right;
     background: rgba(250, 50, 250, 0.295);
     height: auto;
     width: auto;
 }